<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/dropzone.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
  <div class="container">
    <h1>Image Uploader!</h1>
    <p>Drop something below to upload.</p>
    <form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>
  </div>
</div>

</body>
</html>
